@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F0F0F0;
}

#app {
  height: 100vh;
}

.nav-section {
  width: 100%;
  background-color: #F0F0F0;
  position: sticky;
  top: 0;
}
.nav-section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding-top: 10px;
  background-color: #F0F0F0;
}
.nav-section nav p {
  font-size: 2.7rem;
  font-weight: 500;
}
.nav-section nav p a {
  color: #004C99;
}
.nav-section nav a {
  text-decoration: none;
}
.nav-section nav ul {
  display: flex;
  list-style: none;
  gap: 20%;
}
.nav-section nav ul li {
  font-size: 1.5rem;
}
.nav-section nav ul li a {
  color: #2C2C2C;
}
.nav-section nav ul li a:hover {
  color: #004C99;
}
.nav-section nav .login-signup-container {
  display: flex;
  gap: 20px;
}
.nav-section nav .login-signup-container button {
  border: none;
  width: 110px;
  height: 45px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.nav-section nav .login-signup-container button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.254);
}
.nav-section nav .login-signup-container button:active {
  box-shadow: none;
}
.nav-section nav .login-signup-container .login {
  color: #2C2C2C;
  transition: all ease 0.4s;
}
.nav-section nav .login-signup-container .login:hover {
  background-color: #007BFF;
  color: #FFF;
}
.nav-section nav .login-signup-container .sign-up {
  color: #FFF;
  background-color: #2C2C2C;
  transition: all ease 0.4s;
}
.nav-section nav .login-signup-container .sign-up:hover {
  background-color: #007BFF;
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#error-page h1 {
  font-size: 5rem;
  font-weight: 500;
}
#error-page svg {
  margin-bottom: 40px;
}
#error-page p {
  font-size: 1.5rem;
}
#error-page button {
  border: none;
  margin-top: 40px;
  width: 160px;
  height: 45px;
  font-size: 1.3rem;
  background-color: #007BFF;
  color: #FFF;
  cursor: pointer;
  transition: all ease 0.4s;
}
#error-page button:hover {
  background-color: #2C2C2C;
}
#error-page button:active {
  box-shadow: none;
}

.hero-section {
  background-color: #FFF;
  margin-top: 10px;
  padding: 50px 0;
}
.hero-section .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  gap: 10%;
}
.hero-section .hero-content .hero-img-container .hero-img {
  border-radius: 10px;
}
.hero-section .hero-content .hero-desc-container h1 {
  font-size: 2.5rem;
}
.hero-section .hero-content .hero-desc-container h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.hero-section .hero-content .hero-desc-container .orange-color {
  background-image: linear-gradient(180deg, #FFA500, #FFA500);
  background-repeat: no-repeat;
  background-position: 4px bottom;
  background-size: 100% 10px;
}
.hero-section .hero-content .hero-desc-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #FFF;
  font-size: 1.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.254);
  margin-top: 30px;
  cursor: pointer;
}
.hero-section .hero-content .hero-desc-container button:active {
  box-shadow: none;
}
.hero-section .hero-content .hero-desc-container button svg {
  fill: #FFF;
}

.features-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.features-section .features-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px 50px;
  max-width: 1400px;
}
.features-section .features-content .feature-card-container {
  width: 30%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 4px 5px rgba(40, 46, 62, 0.0784313725);
  transition: all ease 0.4s;
}
.features-section .features-content .feature-card-container:hover {
  box-shadow: 0 10px 10px rgba(40, 46, 62, 0.2588235294);
}
.features-section .features-content .feature-card-container .feature-img {
  width: 50px;
}
.features-section .features-content .feature-card-container h2 {
  font-size: 2rem;
}
.features-section .features-content .feature-card-container p {
  font-size: 1.6rem;
}

.about-section {
  width: 100%;
  background-color: #007BFF;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section h2 {
  color: #FFF;
  font-size: 2.5rem;
  display: flex;
  align-items: baseline;
}
.about-section h2 .inner-about-words {
  border: 0px solid #007BFF;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  display: inline-block;
  margin-left: 15px;
}
.about-section h2 .inner-about-words span {
  position: relative;
  animation: scroll 8s ease infinite;
}
@keyframes scroll {
  0%, 100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  45% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  70% {
    top: -100px;
  }
  75% {
    top: -100px;
  }
  95% {
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
