@import 'variables';
@import 'animations';

.about-section {
    width: 100%;
    background-color: $primary-color;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        color: $white;
        font-size: 2.5rem;
        display: flex;
        align-items: baseline;

        .inner-about-words {
            border: 0px solid $primary-color;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            display: inline-block;
            margin-left: 15px;

            span {
                position: relative;
                @include keyframes(scroll) {
                    0%,
                    100% {
                        top: 0;
                    }
                    20% {
                        top: 0;
                    }
                    25% {
                        top: -50px;
                    }
                    45% {
                        top: -50px;
                    }
                    50% {
                        top: -100px;
                    }
                    70% {
                        top: -100px;
                    }
                    75% {
                        top: -100px;
                    }
                    95% {
                        top: 0;
                    }
                }
                @include animate(scroll, 8s, ease, infinite)
            }
        }
    }

    .about-expanded-container {
        width: 100%;
        margin-top: 60px;
        background-color: $light-gray;

        .features-expanded {
            margin: auto;
            max-width: 1400px;
            display: flex;
            flex-direction: column;
            gap: 100px;

            .features-expanded-card {
                border: 1px solid black;
            }

            .card-2 {
                
            }
        }
    }
}