@import 'variables';

.features-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    .features-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px 50px;
        max-width: 1400px;
    
        .feature-card-container {
            width: 30%;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            background-color: $white;
            box-shadow: 0 4px 5px #282e3e14;
            transition: all ease 0.4s;
            &:hover {
                box-shadow: 0 10px 10px #282e3e42;
            }

            .feature-img {
                width: 50px;
            }
            
            h2 {
                font-size: 2rem;
            }
        
            p {
                font-size: 1.6rem;
            }
        }
    }
}